main > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 15px;
    margin: 0;
    list-style: none;
}

main > ul:first-of-type > li{
    background-image: url("../images/salsa-verde.jpg");
}

main > ul:first-of-type > li + li {
    background-image: url("../images/spicy-thai-kale-salad.jpg");
}

main > ul:first-of-type > li + li + li {
    background-image: url("../images/quinoa-white-chicken-chili.jpg");
}

main > ul > li {
    background-color: rgb(181, 177, 177);

    padding: 5px;
    margin: 20px;
    width: 400px;
    height: 330px;
    line-height: 750px;
    text-align: center;

}


main > ul > li > a {
    text-decoration: none;
    color: black;

}