@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
    --Background-hex: #f0f0f0;  
    --NavBar-hex: #4f4e4e;
    --NavBarDark: #2c2a2a;
}

body {
    font-family: "Noto Serif"; 
    background-color: var(--Background-hex);
}

header > p > a{
    color: var(--Background-hex);
    text-decoration: none;
}

nav > ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--NavBar-hex);
}

nav > ul > li {
    float: left;
}

nav > ul> li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem 6rem;
    text-decoration: none;
}
nav > ul > li > a:hover {
    background-color: var(--NavBarDark);
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
}

