main > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 0px;
    margin: 0px;
    list-style: none;
}

main > ul > li {
    background-image: url("../images/mango-isolated-on-white-background-600nw-610892249.webp");
    background-color: rgb(181, 177, 177);

    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 330px;
    line-height: 20px;
    text-align: center;

}


main > ul > li > a {
background-color: #f0f0f0;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 350px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    
}

main > ul > li > a:hover{
    background-color: #d6d3d3ea;
}
